
.message {


}

.imageAndText {

}

.imageAndText img {
    width: 192px; height: 192px; /* Ширина и высота */
    border-radius: 50%; /* Превращаем в круг */
    background-size: auto 300px; /* Высота фотографии равна высоте элемента */

}

.text {

}

.text:after {

}

.name {

}

.messageText {
    background: #007E3E; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 5px; /* Уголки */

}

.time {

}