.input:focus {
    outline: none;
    border: cornflowerblue solid 2px;
}

.input {

}

.inputWrapper {
}

.superInput {
    border: grey solid 2px;
}

.errorInput {
    border: #cc0000 solid 2px;

}

.errorInput:focus {

}

.error {
    color: #cc0000;
}
