.App {
    color: grey;
    --header_height: 60px;
    background: #ffffff;
}

.hw {

    background-color: white;

}

.hwTitle {

    width: 100%;
    height: 27px;
    left: 70px;
    top: 131px;
    margin-bottom: 32px;

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    background: whitesmoke;

    color: black;
}
