.App { color: grey;
    --header_height: 60px;
}

.hw {

}

.hwTitle {
    position: absolute;
    width: 1210px;
    height: 185px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 185px;
    text-align: center;


    color: whitesmoke;
}