.button {
    margin: 10px;
}

.disabled {
}

.secondary {
}

.default {
    background: green;
    color: lightgreen;
    outline: none;
}

.red {
    background-color: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
